header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    text-align: center;
    background:  rgb(141, 42, 121);
    height: 80px;
   

}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
text-align: center;
background: rgb(141, 42, 121);





}